@import url('./components/styles/details.css');
@import url('./components/styles/actor.css');
@import url('./components/styles/home.css');
@import url('./components/styles/hero.css');
@import url('./components/styles/search.css');
@import url('./components/styles/fav.css');
*{
  margin: 0;
  padding: 0;
}
body{
  /* background: url('./img/bg.jpg') no-repeat center/cover; */
  /* background: linear-gradient(200deg,rgba(240, 116, 84, 0.605) , rgb(92, 180, 92),rgba(38, 75, 163, 0.89),rgb(20, 129, 123)); */

}

a {
  text-decoration: none;
}
.container{
  width: 90%;
  margin: 0 auto;
}
html{
  scroll-behavior: smooth;
}
#header{
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 9999;
  background: #00000055;
  padding: 10px;
  
}
.header{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;

}
.header-nav a {
font-size: 28px;
font-weight: 700;
color: white;
margin-left: 20px;
text-decoration: none;
}
select{
  padding: 10px 30px;
  border-radius: 15px;
}

.search input{
  padding:  10px 30px;
  outline: none;
  border-radius: 15px;
  border: 2px solid black;
}
.search button{
  padding:  10px 30px;
  outline: none;
  border-radius: 15px;
  border: 2px solid black;
}
#popular{
  padding: 50px 0;
}
.popular{
  
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.movieCard{
  width: 220px;
  height: 450px;
  border: 2px solid black;
display: flex;
align-items: center;
flex-direction: column;
gap: 10px;
text-align: center;
border-radius: 15px;
cursor: pointer;
background: white;
}
.movieCard a{
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px; 
}
.movieCard:hover{
  scale: 1.1;
  background: yellowgreen;
  transition: 2s;
}
.pogination button{
  padding: 10px 30px;
  border: none;
  color: white;
  border-radius: 10px;
  background: #000;
}
.pogination{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}
#top{
  padding: 50px 0;
}
.top{
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.topcard{
  width: 260px;
  height: 500px;
  border: 2px solid black;
display: flex;
align-items: center;
flex-direction: column;
gap: 10px;
text-align: center;
border-radius: 15px;
cursor: pointer;
background: white;
}
.topcard img{
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.topcard:hover{
  scale: 1.1;
  background: yellowgreen;
  transition: 2s;
}



